/* Reset */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
h1,
h2 {
	font-weight: inherit;
	font-size: inherit;
	overflow-wrap: break-word;
	line-height: 1.1;
}
input,
label,
button {
  font: inherit;
}

:root {
	--grey-bg: #bbbbbb;
	--grey: #465B5C;
	--dark-grey: #3a4b4c;

	--dark-brown: #332F2D;

	--orange: #DB7639;
	--bright-orange: #ff6f15;
	--very-light-orange: #d0bbaf;
	--light-orange: #dc9264;
	--dark-orange: #a84507;

	--bg: #4F9A9C;
}

body{
	min-height: 100vh;
	font-size: 1.125rem;
	line-height: 1.5;
	font-family: "Freckle Face", monospace;
	
 	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline: 2rem;
	background-image: url(images/background1.png);
	background-color: var(--bg);
}

.cell {
	border: 1px solid var(--dark-brown);
}
.error-message {
	display: none;
}

.page {
	display: flex;
	color: var(--dark-brown);
}

.pad-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 2rem;
}
.title {
	font-size: 3rem;
}

.board {
	display: grid;
	width: 34.375rem;
	height: 34.375rem;
	background-color: var(--grey-bg);
	border: 5px solid var(--dark-brown);
}

.menu {
	width: 18.75rem;
	display: grid;
	gap: 2rem;
	padding: 2rem;
	margin-top: 5.625rem;
	margin-bottom: 5rem;
	grid-template-areas: 
	"palette"
	"buttons"
	"resize"
	;
}
.color-palette {
	grid-area: palette;
}
.resize {
	grid-area: resize;
}
.buttons {
	grid-area: buttons;
}

.color-palette {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.color-label{
	font-size: 1.5rem;
}
#customColor {
	width: 3.125rem;
	height: 3.125rem;
}

.buttons {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	gap: 1rem;
}
.button {
	width: 100%;
	padding: 10px;
	background-color: var(--orange);
	box-shadow: inset 4px 8px 8px 4px var(--dark-orange);
	border: 1px solid var(--dark-orange);
	cursor: pointer;
}
.button:hover{
	background-color: var(--light-orange);
}

.button:focus{
	background-color: var(--dark-orange);
}

.resize {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

#sizeInput {
	width: 100%;
	padding: 0.5rem 0.625rem;
	background-color: var(--very-light-orange);
	border: 3px solid  var(--grey);
}
#resizeBtn {
	width: 100%;
	padding: 1rem;
	background-color: var(--grey);
	color: var(--bright-orange);
	border: 3px solid var(--bright-orange);
	cursor: pointer;
}
#resizeBtn:hover {
	background-color: var(--dark-grey);
}

@media (max-width: 55.3125rem) {
	.page {
		flex-direction: column;
	}
	.title {
		font-size: 2rem;
	}
	.pad-container {
		padding: 1rem;
	}
	.board {
		width: 28.125rem;
		height: 28.125rem;
	}
	.menu {
		display: grid;
		grid-template-areas: 
		"buttons buttons"
		"palette resize"
		;
		width: 100%;
		flex-direction: row;
		gap: 1rem;
		padding: 1rem;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.buttons {
		flex-direction: row;
		align-items:center;
		justify-content: center;
	}
	.button {
		width: 100px;
	}
}

@media (max-width: 32.8125rem) {
	.page {
		gap: 2rem;
		padding: 1rem 0;
	}
	.board {
		width: 20rem;
		height: 20rem;
	}
	.pad-container {
		padding: 0;
	}
	.menu {
		padding: 0;
		grid-template-areas: 
		"buttons buttons"
		"palette palette"
		"resize resize"
		;
	}
	.resize {
		flex-direction: row;
	}
	.color-palette {
		justify-content: center;
	}
	.button {
		width: 5rem;
	}
}